<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyDMy8svm3EuHph-K9rztgTrrdHAknxQakQ</string>
	<key>GCM_SENDER_ID</key>
	<string>486059733559</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.superstate.superstate</string>
	<key>PROJECT_ID</key>
	<string>superstate-970d5</string>
	<key>STORAGE_BUCKET</key>
	<string>superstate-970d5.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:486059733559:ios:8b21ed1480e4f9cbb0c5b2</string>
</dict>
</plist>